<div class="min-h-screen bg-transparent py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto sm:w-8/12">
    <div
      class="absolute inset-0 bg-gradient-to-r from-paws-play-400 to-paws-play-50 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 rounded-3xl">
    </div>
    <div class="relative px-4 py-10 bg-white shadow-lg rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">
        <form [formGroup]="formUser" (ngSubmit)="agregarUsuario()">
          <div>
            <h1 class="text-2xl text-paws-play-400 text-center">Registrar Usuario</h1>
          </div>
          <div class="divide-y divide-gray-200">
            <div class="py-0 text-base leading-6 space-y-4 text-paws-play-300 sm:text-lg sm:leading-7">
              <div class="relative">
                <label for="nombre">Nombre*</label>
                <br>
                <input id="nombre" pInputText [ngStyle]="{'width':'100%'}" formControlName="nombre" />
                @if(this.formUser.get('nombre')?.errors?.['required']) {
                <span class="text-red-500">(Campo requerido)</span>
                }
                @if(this.formUser.get('nombre')?.errors?.['minlength']) {
                <span class="text-red-500">(Al menos 3 caracteres)</span>
                }
              </div>
              <div class="relative">
                <label for="apellidos">Apellidos*</label>
                <br>
                <input id="apellidos" pInputText [ngStyle]="{'width':'100%'}" formControlName="apellidos" />
                @if(this.formUser.get('apellidos')?.errors?.['required']) {
                <span class="text-red-500">(Campo requerido)</span>
                }
                @if(this.formUser.get('apellidos')?.errors?.['minlength']) {
                <span class="text-red-500">(Al menos 3 caracteres)</span>
                }
              </div>
              <div class="relative">
                <label for="email">Email*</label>
                <br>
                <input id="email" pInputText [ngStyle]="{'width':'100%'}" formControlName="email" />
                @if(this.formUser.get('email')?.errors?.['required']) {
                <span class="text-red-500">(Campo requerido)</span>
                }
                @if(this.formUser.get('email')?.errors?.['email']) {
                <span class="text-red-500">(Mail invalido)</span>
                }
              </div>
              <div class="relative ">
                <label>Contraseña*</label>
                <br>
                <p-password id="password" [toggleMask]="true" promptLabel="Escribe la contraseña"
                  weakLabel="Muy debil 😑" mediumLabel="Debil 😐" strongLabel="Fuerte 😊" [style]="{'width':'100%'}"
                  [inputStyle]="{'width':'100%'}" formControlName="password"></p-password>
                @if(this.formUser.get('password')?.errors?.['required']) {
                <span class="text-red-500">(Campo requerido)</span>
                }
                @if(this.formUser.get('password')?.errors?.['minlength']) {
                <span class="text-red-500">(Al menos 4 caracteres)</span>
                }
              </div>
              <div class="relative">
                <label for="direccion">Direccion*</label>
                <br>
                <input id="direccion" pInputText [ngStyle]="{'width':'100%'}" formControlName="direccion" />
                @if(this.formUser.get('direccion')?.errors?.['required']) {
                <span class="text-red-500">(Campo requerido)</span>
                }
                @if(this.formUser.get('direccion')?.errors?.['minlength']) {
                <span class="text-red-500">(Al menos 10 caracteres)</span>
                }
              </div>
              <div class="relative">
                <button
                  class="bg-paws-play-50 text-paws-play-300 rounded-full px-8 py-1 hover:bg-paws-play-400">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>