<section>
    <div class="py-8">
        <div class="mx-auto px-2 max-w-7xl text-paws-play-300">
            <div class="relative">
                <div class="relative z-10 grid gap-3 grid-cols-6">
                    <div class="col-span-full lg:col-span-6 overflow-hidden relative p-4 rounded-xl bg-gradient-to-tl from-paws-play-400 to-paws-play-50 border border-gray-300 shadow-sm
                        grid grid-cols-2 gap-14">
                        <a routerLink="reservas"
                            class="relative px-5 py-3 overflow-hidden font-medium text-gray-600 bg-gray-100 border border-gray-100 rounded-lg shadow-inner group text-center">
                            <span
                                class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
                            <span
                                class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                            <span
                                class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
                            <span
                                class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
                            <span
                                class="absolute inset-0 w-full h-full duration-300 delay-300 bg-paws-play-100 opacity-0 group-hover:opacity-100"></span>
                            <span
                                class="relative transition-colors duration-300 delay-200 group-hover:text-paws-play-200 ease">Reservas</span>
                        </a>
                        <a routerLink="usuarios" routerLinkActive="active"
                            class="relative px-5 py-3 overflow-hidden font-medium text-gray-600 bg-gray-100 border border-gray-100 rounded-lg shadow-inner group text-center">
                            <span
                                class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
                            <span
                                class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                            <span
                                class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
                            <span
                                class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
                            <span
                                class="absolute inset-0 w-full h-full duration-300 delay-300 bg-paws-play-100 opacity-0 group-hover:opacity-100"></span>
                            <span
                                class="relative transition-colors duration-300 delay-200 group-hover:text-paws-play-200  ease">Usuarios
                            </span>
                        </a>
                    </div>
                    <div
                        class="col-span-full lg:col-span-6 overflow-hidden relative p-4 rounded-xl bg-gradient-to-tl from-paws-play-400 to-paws-play-50 border border-gray-300 shadow-sm">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>